
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h2>Lancamentos</h2>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label style="display: block; ">Descricao</label>
      <input type="text" pInputText style="width: auto;">
    </div>

    <div class="ui-g-12">
      <label style="display:block; padding-top: 1rem;">Vencimento</label>
      <input type="text" pInputText style="width: 100px;">

      <label>Ate</label>
      <input type="text" pInputText style="width: 100px;">
    </div>

    <div class="u-g 12">
      <button pButton type="submit" label="Pesquisar"></button>

    </div>

  </div>

</div>


