
label{
  font-weight: bold;
}


button{
  margin-top: 1rem;
}


@media(min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }

}

.col-data{
  width: 1rem;
  text-align: center;
}

.col-valor{
  text-align: right;
}
