
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h2>Lancamentos</h2>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label style="display: block; ">Descricao</label>
      <input type="text" pInputText style="width: auto;">
    </div>

    <div class="ui-g-12">
      <label style="display:block; padding-top: 1rem;">Vencimento</label>
      <input type="text" pInputText style="width: 100px;">

      <label>Ate</label>
      <input type="text" pInputText style="width: 100px;">
    </div>

    <div class="ui-g 12">
      <button pButton type="submit" label="Pesquisar"></button>

    </div>
    <hr>

    <div class="ui-ng">
      <p-table [value]='lancamentos' responsiveLayout='scroll'>
        <ng-template pTemplate='header'>
          <tr>
            <th>Pessoa</th>
            <th>Descricao</th>
            <th>Vencimento</th>
            <th>Pagmento</th>
            <th>Valor</th>
          </tr>
        </ng-template>


        <ng-template pTemplate='body' let-lancamentos>
          <tr>
            <td>{{lancamentos.pessoa}}</td>
            <td>{{lancamentos.descricao}}</td>
            <td>{{lancamentos.dataVencimento}}</td>
            <td>{{lancamentos.dataPagamento}}</td>
            <td>{{lancamentos.valor}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


